/* Auteur du fichier Tenga  */

#text-center {
    color:white;
    text-transform:uppercase;
    font-size: 3vh;
    margin: -6vh 0 9vh 0;
    display: block;
    text-align: center;
}
    

#create{
	position:fixed;
	left:50%;
	top:55%;
	transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.89);
	border-radius:3px;
	padding:8vh 11vh;
}

#button {
    color:#fff;
	background-color:#58d0f5;
	outline: none;
    border: 0;
    color: #fff;
	padding:2vh 3vh;
	text-transform:uppercase;
	margin-top:50px;
	border-radius:2px;
	cursor:pointer;
	position:relative;
    left: 25%;
}

#input{
	position:relative;
	margin-bottom:3vh;
}

#input label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:2vh;
	color:#fff;	
    pointer-event:none;
	transition: all 0.5s ease-in-out;
}

#input input{ 
    border:0;
    border-bottom:1px solid #555;  
    background:transparent;
    width:100%;
    padding:1vh 0 0.7vh 0;
    font-size:2vh;
    color:#fff;
  }

#input input:focus{ 
border:none;	
outline:none;
border-bottom:1px solid #e74c3c;	
}

#input input:focus ~ label,
#input input:valid ~ label{
	top:-1.5vh;
	font-size:1.5vh;
	
}

#nameUse{
    color:rgb(167, 48, 48);
    font-size: 2vh;
}