<!-- Auteur du fichier Tenga -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Super Pixel Game!</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  
  <!-- Template Main CSS File -->
  <link href="assets/css/login.css" rel="stylesheet">
  <link href="assets/css/common.css" rel="stylesheet">

</head>

<body>
  
  <div id="stars"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a style="text-decoration:none" href="/index.html" class="logo d-flex align-items-center me-auto me-lg-0">
        <h1>Super Pixel Game!</h1>
      </a>



    </div>

    <div class="float-area">
      <a href="/" ><img id="home" src="assets/img/home.png" class="floating-img"></a>
    </div>
  </header><!-- End Header -->


  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <% if(logged) { %>
          <h2>Bye, <%= login %>!</h2>
          <% } else {%>
          <h2></h2>
          <% } %>
        </div>

      </div>
    </div><!-- End Breadcrumbs -->

  
	  <!-- ======= Login Section ======= -->
    <section id="login" class="login">
      <div class="container" >
        <% if(logged) { %>
          <form action="/logout" method="get" role="form" class="php-email-form p-3 ">
            <div id="logout" class="logout" >
              <a style="text-decoration:none" href="/logout" type="submit" class="logout">Logout</a>
            </div>
          </form>
        <% } else { %>
          <form action="/login" method="post" role="form" class="php-email-form p-3 ">
              

              <div id="box" class="box">
                <form>
                  <span id="text-center" class="text-center">Hello please log in</span>
                
                  <div id="input" class="input-container form-group">
                    <input type="text" name="login" class="form-control" required/>
                    <label>Login</label>
                    <% if (error!=undefined && error) {%>
                      <p id="wrong">Wrong credentials, try again!</p>
                    <% }%>		
                  </div>

                  <div id="input" class="input-container form-group">		
                    <input type="password" name="password" class="form-control" required/>
                    <label>Password</label>
                  </div>

                  <button id="btnSubmit" type="submit" class="btn">submit</button>

                  <% if (!logged) { %>
                    <section id="signup" class="signup">
                      <div class="signup" >
                        <a href="/signup" class="signup">
                          <button id="btnSignUp" type="button" class="btn">Sign Up</button>
                        </a>
                      </div>
                    </section>
                  <% } %>
                </div>
          </form>
        <% } %>
          
        <!--End Contact Form -->
      </div>
    </section><!-- End Login Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

  </footer><!-- End Footer -->
  
  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

</body>

</html>